
html, body {
    height: 100%; /* Make sure html and body take the full height */
    margin: 0; /* Remove default margin */
}

body {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange items vertically */
    background: url('home.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-content {
    flex: 1; /* Allow main content to grow and fill the space */
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
}

h1 {
    padding: 10px;
    margin: 15px;
    font-size: 3rem;
    color: #fefbfb;
}

h2 {
    padding: 10px;
    margin: 15px;
    color: #faf7f7;
    font-size: 2rem;
}

/* Chatbot Button Style */
.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
}

.chatbot-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Chatbot Window Style */
.chatbot-window {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    max-height: 500px; /* Increased height */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    flex-direction: column;
}

.chatbot-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.chatbot-body {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

.chatbot-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
}


.image-upload-container {
    display: flex;
    width: 500px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #f8f9fa;
  }

  .upload-buttons {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
  }

  .upload-buttons .btn {
    margin-bottom: 10px;
  }

  .preview-column {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-preview {
    flex-grow: 1;
    max-width: 100%;
    height: auto;
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: 10px;
  }
